<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Form</title>
</head>
<body>
    
    <div style="
        margin: auto;
        width: 50%;
        border: 3px solid green;
        padding: 10px;
      ">
    <h1 style="text-align: center;">Interior Design Recommender</h1>
    
    <form method="POST">
        <label for="dropdown">Select your preferred style:</label>
        <select name="dropdown" id="dropdown">
            {% for option in dropdown_options %}
                <option value="{{ option }}">{{ option }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="dropdown2">Select the location:</label>
        <select name="dropdown2" id="dropdown2">
            {% for option1 in dropdown_options2 %}
                <option value="{{ option1 }}">{{ option1 }}</option>
            {% endfor %}
        </select>
        <br>
        <br>
        <button type="submit">Submit</button>
    </form>

    <br><br><br>
    <form method="post" enctype="multipart/form-data">

        {{ form.hidden_tag() }}
        {% for error in form.photo.errors %}
        <span style="color: red;">{{error}}</span>
        {% endfor %}
        <div>
            {{ form.photo() }}

        </div>
        <div>
            {{ form.submit() }}

        </div>
    </form>

    {% if file_url %}
    <img style="max-width:100%;" src="{{ file_url }}" alt="">
    {% endif %}


    <a href="{{ url_for('output') }}"><button>Go to Output</button></a>

    </div>
</body>
</html>
