<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <H1 style="text-align: center;">Your desired Interior Recommendation: </H1>
    <br><br><br>
    <img style="width: fit-content;display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;" src="{{source1}}" alt="">
    <img style="width: fit-content;display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;" src="{{source2}}" alt="">
    <img style="width: fit-content;display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;" src="{{source3}}" alt="">
    <img style="width: fit-content;display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;" src="{{source4}}" alt="">
    <img style="width: fit-content;display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;" src="{{source}}" alt="">

</body>
</html>